@import url('https://fonts.googleapis.com/css2?family=Bytesized&family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Micro+5&family=Zalando+Sans+Expanded:ital,wght@0,200..900;1,200..900&display=swap');
html{
    font-family: 'Josefin Sans';
}
body {
    text-align: center;
    background: #6F93F3;
    background: linear-gradient(340deg, rgba(111, 147, 243, 1) 0%, rgba(1, 176, 161, 1) 72%);
}
header{
    background-color: rgba(247, 247, 247, 1);
    height: 80px;
    border-radius: 20px;
    box-shadow: 0px 10px 100px black;
    display: flex;
    align-items: center;
    justify-content: center;
}

.buttonA {
    background-color: rgba(237, 237, 237, 1);
    color: rgb(0, 0, 0);
    border-radius: 30px;
    height: 6vh;
    width: 18vh;
    border: rgba(237, 237, 237, 1);
    box-shadow: rgba(0, 0, 0, 0.192) 0px 4px 7px;
    margin-left: 2vh;
    margin-right: 2vh;
    position: relative;
    right: 6vh;
    transition: background-color 1s;
}

.buttonA:hover{
    cursor: pointer;
    background-color: rgb(173, 170, 170);
}
.buttonD {
    background-color:rgb(173, 170, 170);
    color: rgb(0, 0, 0);
    border-radius: 30px;
    height: 6vh;
    width: 18vh;
    border: rgb(173, 170, 170);
    box-shadow: rgba(0, 0, 0, 0.192) 0px 4px 7px;
    margin-left: 2vh;
    margin-right: 2vh;
    position: relative;
    right: 6vh;
    transition: background-color 1s;
}

.buttonD:hover{
    cursor: pointer;
    background-color:rgb(173, 170, 170);
}


.img {
    height: 100%;
}

.img2 {
    height: 45%;
}

.inside {
    background-color: rgba(247, 247, 247, 1);
    height: 81vh;
    border-radius: 20px;
    box-shadow: 0px 10px 100px black;
    width: 136vh;
    margin-top: 10px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    align-content: center;
    align-items: center;
}

.inp {
    position: relative;
    width: 75vh;
    border-color: black;
    border-radius: 50px;
    top: -2vh;
    height: 6vh;
    left: -4vh;
    background-color: rgba(237, 237, 237, 1);
    color: rgb(0, 0, 0);
    border-radius: 30px;
    border: rgba(237, 237, 237, 1);
    box-shadow: rgba(0, 0, 0, 0.192) 0px 4px 7px;
    margin-left: 2vh;
}

.vitu {
    height: 7vh;
    width: 7vh;
    border-radius: 4vh;
    display: flex;
    align-items: center;
    justify-content: center;
    border: transparent;
    position: relative;
    right: -2vh;
}
.vituI {
    height: 8vh;
    width: 8vh;
    border-radius: 4vh;
    display: flex;
    align-items: center;
    justify-content: center;
    border: transparent;
    position: relative;
    right: 0vh;
}

.est_bot {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    top: -2vh;
    position: relative;
    background-color: darkgray;
    height: 6vh;
    align-items: center;
    border-radius: 18px;
    width: 39vh;
    right: -2vh;
    box-shadow: inset 0px 1px 3px;
}

.vidro {
    background: rgba(255, 255, 255, 0.08);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(1.9px);
    -webkit-backdrop-filter: blur(1.9px);
    border: 1px solid rgba(255, 255, 255, 0.15);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
}

.button2 {
    background-color: rgba#ededed(237, 237, 237, 1);
    color: rgb(0, 0, 0);
    border-radius: 18px;
    height: 4vh;
    width: 18vh;
    border: rgba(237, 237, 237, 1);
    box-shadow: rgba(0, 0, 0, 0.192) 0px 4px 7px;
    transition: background-color 1s;
}


.button2:hover{
    cursor: pointer;
    background-color:rgb(173, 170, 170);
}

.disp{
    background-color: rgba(247, 247, 247, 1);
    width: 120vh;
    height: 65vh;
    overflow-y: scroll;
}
.disp::-webkit-scrollbar {
    display: none;
}
.disp {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
  }

  .note {
    height: 14vh;
    align-items: center;
    box-shadow: 0 14px 6px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(3px);
    -webkit-backdrop-filter: blur(3px);
    border: 1px solid rgba(177, 222, 255, 0.3);
    border-radius: 16px;
    display: flex;
    justify-content: flex-start;
    box-shadow: rgba(0, 0, 0, 0.192) 0px 4px 7px;
   
}

.bot{
    display: flex    ;
    justify-content: space-around;
    position: relative;
    right: -20vh;
}