@import url('https://fonts.googleapis.com/css2?family=Bytesized&family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Micro+5&family=Zalando+Sans+Expanded:ital,wght@0,200..900;1,200..900&display=swap');
html{
    font-family: 'Josefin Sans';
}
body {
    text-align: center;
    background: #6F93F3;
    background: linear-gradient(340deg, rgba(111, 147, 243, 1) 0%, rgba(1, 176, 161, 1) 72%);
}

header{
    background-color: rgba(247, 247, 247, 1);
    height: 80px;
    border-radius: 20px;
    box-shadow: 0px 10px 100px black;
    display: flex;
    align-items: center;
    justify-content: center;
}

.img {
    height: 100%;
}

.img2 {
    height: 45%;
}

.inside {
    background-color: rgba(247, 247, 247, 1);
    height: 81vh;
    border-radius: 20px;
    box-shadow: 0px 10px 100px black;
    width: 136vh;
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    flex-wrap: nowrap;
    align-items: center;
}

.vidro {
    background: rgba(255, 255, 255, 0.08);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(1.9px);
    -webkit-backdrop-filter: blur(1.9px);
    border: 1px solid rgba(255, 255, 255, 0.15);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
}

.button {
    background-color: black;
    color: rgba(247, 247, 247, 1);
    border-radius: 30px;
    height: 35%;
    width: 12%;
    border: black;
}

.button:hover{
    cursor: pointer;
    animation: Log, 5s, linear;
    
}