
@import url('https://fonts.googleapis.com/css2?family=Bytesized&family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Micro+5&family=Zalando+Sans+Expanded:ital,wght@0,200..900;1,200..900&display=swap');
html{
    font-family: 'Josefin Sans';
}
body {
    text-align: center;
    background: #6F93F3;
    background: linear-gradient(340deg, rgba(111, 147, 243, 1) 0%, rgba(1, 176, 161, 1) 72%);
    box-shadow: 0px 10px 100px
}

header{
    background-color: rgba(247, 247, 247, 1);
    height: 80px;
    border-radius: 20px;
    box-shadow: 0px 10px 100px black;
    display: flex;
    align-items: center;
    justify-content: center;
}


.inside {
    background-color: rgba(247, 247, 247, 1);
    height: 81vh;
    border-radius: 20px;
    box-shadow: 0px 10px 100px black;
    width: 25%;
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    flex-wrap: nowrap;
    align-items: center;
}
.vidro {
    background: rgba(255, 255, 255, 0.08);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(1.9px);
    -webkit-backdrop-filter: blur(1.9px);
    border: 1px solid rgba(255, 255, 255, 0.15);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
}
.inp{
    padding: 2px;
    width: 40vh;
    height: 5vh;
    border-color: black;
    border-radius: 50px;
}
.button{
    background-color: black;
    color: rgba(247, 247, 247, 1);
    border-radius: 30px;
    height: 10%;
    width: 35%;
    border: black;
}

.button:hover{
    cursor: pointer;
    animation: Log, 5s, linear;
    
}

@keyframes Log {
    0% {border-color: #6F93F3; 
        border-color: linear-gradient(340deg, rgba(111, 147, 243, 1) 0%, rgba(1, 176, 161, 1) 72%);}
    50% {border-color: #ff0554; 
        border-color: linear-gradient(340deg, rgb(206, 0, 110) 0%, rgb(235, 62, 163) 72%);}
    
    }

.fazerL {
    background-color: black;
    color: rgba(247, 247, 247, 1);
    border-radius: 8px;
    height: 10vh;
    width: 40vh;
    border: black;
}

.troço{
    position: absolute;
    background-color: white;
    height: 450px;
    opacity: 0.9;
    background: linear-gradient(173deg, rgba(136, 255, 255, 1) 0%, rgb(22, 54, 210) 100%);
    border-radius: 20px;
    width: 720px;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.34);
    top: 25%;
    right: 20%;
}

.cont {
    border: transparent;
    position: absolute;
    top: 6%;
    right: 22%;
    height: 30px;
    border-radius: 20px;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.34);
}

.img {
    height: 100%;
}

.img2 {
    height: 45%;
}


@media (max-width: 500px) {
    .inside {
    background-color: rgba(247, 247, 247, 1);
    height: 81vh;
    border-radius: 20px;
    box-shadow: 0px 10px 100px black;
    width: 25%;
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    flex-wrap: nowrap;
    align-items: center;
}
.vidro {
    background: rgba(255, 255, 255, 0.08);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(1.9px);
    -webkit-backdrop-filter: blur(1.9px);
    border: 1px solid rgba(255, 255, 255, 0.15);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
}
.inp{
    height: 5%;
    border-color: black;
    border-radius: 50px;
}
.button{
    background-color: black;
    color: rgba(247, 247, 247, 1);
    border-radius: 30px;
    height: 10%;
    width: 35%;
    border: black;
}

.fazerL {
    background-color: black;
    color: rgba(247, 247, 247, 1);
    border-radius: 8px;
    height: 10%;
    width: 90%;
    border: black;
}

.troço{
    position: absolute;
    background-color: white;
    height: 450px;
    opacity: 0.9;
    background: linear-gradient(173deg, rgba(136, 255, 255, 1) 0%, rgb(22, 54, 210) 100%);
    border-radius: 20px;
    width: 720px;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.34);
    top: 25%;
    right: 20%;
}

.cont {
    border: transparent;
    position: absolute;
    top: 6%;
    right: 22%;
    height: 30px;
    border-radius: 20px;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.34);
}

.img {
    height: 100%;
}

.img2 {
    height: 45%;
}

}