@import url('https://fonts.googleapis.com/css2?family=Bytesized&family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Micro+5&family=Zalando+Sans+Expanded:ital,wght@0,200..900;1,200..900&display=swap');
html{
    font-family: 'Josefin Sans';
}
body {
    text-align: center;
    background: #6F93F3;
    background: linear-gradient(340deg, rgba(111, 147, 243, 1) 0%, rgba(1, 176, 161, 1) 72%);
}

header{
    background-color: rgba(247, 247, 247, 1);
    height: 80px;
    border-radius: 20px;
    box-shadow: 0px 10px 100px black;
    display: flex;
    align-items: center;
    justify-content: center;
}

.img {
    height: 100%;
}

.img2 {
    height: 45%;
}

.inside {
    background-color: rgba(247, 247, 247, 1);
    height: 81vh;
    border-radius: 20px;
    box-shadow: 0px 10px 100px black;
    width: 136vh;
    margin-top: 10px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    flex-wrap: nowrap;
    align-items: flex-start;
}

.vidro {
    background: rgba(255, 255, 255, 0.08);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(1.9px);
    -webkit-backdrop-filter: blur(1.9px);
    border: 1px solid rgba(255, 255, 255, 0.15);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
}

.buttonA {
    background-color: rgba(237, 237, 237, 1);
    color: rgb(0, 0, 0);
    border-radius: 30px;
    height: 6vh;
    width: 18vh;
    border: rgba(237, 237, 237, 1);
    box-shadow: rgba(0, 0, 0, 0.192) 0px 4px 7px;
    margin-left: 2vh;
    margin-right: 2vh;
    position: relative;
    right: 6vh;
    transition: background-color 1s;
}

.buttonA:hover{
    cursor: pointer;
    background-color:rgb(173, 170, 170);
}

.buttonD {
    background-color: rgba(237, 237, 237, 1);
    color: rgb(0, 0, 0);
    border-radius: 30px;
    height: 6vh;
    width: 18vh;
    border: rgba(237, 237, 237, 1);
    box-shadow: rgba(0, 0, 0, 0.192) 0px 4px 7px;
    margin-left: 2vh;
    margin-right: 2vh;
    position: relative;
    right: 6vh;
    transition: background-color 1s;
}

.buttonD:hover{
    cursor: pointer;
    background-color:rgb(173, 170, 170);
}
.risoli {
    background-color: rgba(237, 237, 237, 1);
    color: rgb(0, 0, 0);
    border-radius: 30px;
    height: 6vh;
    width: 76vh;
    border: rgba(237, 237, 237, 1);
    box-shadow: rgba(0, 0, 0, 0.192) 0px 4px 7px;
    position: relative;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    right: -15vh;
}

.bot{
    display: flex    ;
    justify-content: space-around;
    position: relative;
    right: -20vh;
}

.user {
    border-radius: 254px;
    height: 28vh;
    width: 28vh;
}
.profile {
    height: 30vh;
    width: 30vh;
    border-radius: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    left: 5vh;
    flex-direction: row;
    top: 3vh;
    background: rgba(33, 135, 236, 1);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(24, 158, 255, 0.3);
    box-shadow: rgba(0, 0, 0, 0.192) 0px 4px 7px;
}


.vitu {
    height: 7vh;
    width: 7vh;
    border-radius: 4vh;
    display: flex;
    align-items: center;
    justify-content: center;
    border: transparent;
    position: relative;
    right: -2vh;
}
.vituI {
    height: 8vh;
    width: 8vh;
    border-radius: 4vh;
    display: flex;
    align-items: center;
    justify-content: center;
    border: transparent;
    position: relative;
    right: 0vh;
}